.events-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-card {
    width: 600px;
    height: 200px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.event-card .ant-card-cover {
    width: 40%;
    height: 100%;
    overflow: hidden;

}

.event-card .ant-card-body {
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;

}

.event-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
